[package]
name = "nativelink-error"
version = "0.2.0"
edition = "2021"
autobins = false
autoexamples = false
autotests = false
autobenches = false

[dependencies]
nativelink-proto = { path = "../nativelink-proto" }

hex = "0.4.3"
prost = "0.12.3"
prost-types = "0.12.3"
tokio = { version = "1.35.1" }
tonic = { version = "0.10.2", features = ["gzip"] }
tracing = "0.1.40"
