[package]
name = "nativelink-error"
version = "0.5.3"
edition = "2021"
autobins = false
autoexamples = false
autotests = false
autobenches = false

[dependencies]
nativelink-proto = { path = "../nativelink-proto" }
nativelink-metric = { path = "../nativelink-metric" }
fred = { version = "10.0.1", default-features = false, features = [
  "enable-rustls-ring",
] }
hex = { version = "0.4.3", default-features = false }
prost = { version = "0.13.4", default-features = false }
prost-types = { version = "0.13.4", default-features = false }
serde = { version = "1.0.216", default-features = false }
tokio = { version = "1.42.0", features = ["fs", "rt-multi-thread", "signal", "io-util"], default-features = false }
tonic = { version = "0.12.3", features = ["transport", "tls"], default-features = false }
google-cloud-storage = "0.23.0"
