@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Noto Sans";
    font-style: normal;
    line-height: normal;
}
body {
    background-color: var(--color-ref-primary25);
}

/* uses color.css from ui,chrome */
html:not(#z) {
    --color-ref-primary0: #000000ff;
    --color-ref-primary10: #240a4cff;
    --color-ref-primary20: #3a2362ff;
    --color-ref-primary25: #452f6eff;
    --color-ref-primary30: #513a7aff;
    --color-ref-primary40: #6a5294ff;
    --color-ref-primary50: #836bafff;
    --color-ref-primary60: #9d84caff;
    --color-ref-primary70: #b99fe7ff;
    --color-ref-primary80: #d4bbffff;
    --color-ref-primary90: #ebdcffff;
    --color-ref-primary95: #f7edffff;
    --color-ref-primary99: #fffbffff;
    --color-ref-primary100: #ffffffff;
    --color-ref-secondary0: #000000ff;
    --color-ref-secondary10: #1f182aff;
    --color-ref-secondary12: #231c2fff;
    --color-ref-secondary15: #292335ff;
    --color-ref-secondary20: #342d40ff;
    --color-ref-secondary25: #3f384cff;
    --color-ref-secondary30: #4b4358ff;
    --color-ref-secondary35: #574f64ff;
    --color-ref-secondary40: #635b70ff;
    --color-ref-secondary50: #7c7389ff;
    --color-ref-secondary60: #968da4ff;
    --color-ref-secondary70: #b1a7bfff;
    --color-ref-secondary80: #cdc2dbff;
    --color-ref-secondary90: #eadef7ff;
    --color-ref-secondary95: #f7edffff;
    --color-ref-secondary99: #fffbffff;
    --color-ref-secondary100: #ffffffff;
    --color-ref-tertiary0: #000000ff;
    --color-ref-tertiary10: #32101bff;
    --color-ref-tertiary20: #4a252fff;
    --color-ref-tertiary30: #643b46ff;
    --color-ref-tertiary40: #7f525dff;
    --color-ref-tertiary50: #9a6a75ff;
    --color-ref-tertiary60: #b6838fff;
    --color-ref-tertiary70: #d39da9ff;
    --color-ref-tertiary80: #f1b7c4ff;
    --color-ref-tertiary90: #ffd9e0ff;
    --color-ref-tertiary95: #ffecefff;
    --color-ref-tertiary99: #fffbffff;
    --color-ref-tertiary100: #ffffffff;
    --color-ref-error0: #000000ff;
    --color-ref-error10: #410002ff;
    --color-ref-error20: #690005ff;
    --color-ref-error30: #93000aff;
    --color-ref-error40: #ba1a1aff;
    --color-ref-error50: #de3730ff;
    --color-ref-error60: #ff5449ff;
    --color-ref-error70: #ff897dff;
    --color-ref-error80: #ffb4abff;
    --color-ref-error90: #ffdad6ff;
    --color-ref-error95: #ffedeaff;
    --color-ref-error99: #fffbffff;
    --color-ref-error100: #ffffffff;
    --color-ref-neutral0: #000000ff;
    --color-ref-neutral4: #0f0d13ff;
    --color-ref-neutral6: #151218ff;
    --color-ref-neutral8: #19171cff;
    --color-ref-neutral10: #1d1b20ff;
    --color-ref-neutral12: #211f24ff;
    --color-ref-neutral15: #27252aff;
    --color-ref-neutral17: #2c292fff;
    --color-ref-neutral20: #322f35ff;
    --color-ref-neutral22: #37343aff;
    --color-ref-neutral24: #3b383eff;
    --color-ref-neutral25: #3d3a40ff;
    --color-ref-neutral30: #49454cff;
    --color-ref-neutral40: #615d64ff;
    --color-ref-neutral50: #7a757cff;
    --color-ref-neutral60: #948f96ff;
    --color-ref-neutral70: #afa9b1ff;
    --color-ref-neutral80: #cac4ccff;
    --color-ref-neutral87: #ded8e0ff;
    --color-ref-neutral90: #e7e0e8ff;
    --color-ref-neutral92: #ede6eeff;
    --color-ref-neutral94: #f2ecf4ff;
    --color-ref-neutral95: #f5eff7ff;
    --color-ref-neutral96: #f8f1faff;
    --color-ref-neutral98: #fef7ffff;
    --color-ref-neutral99: #fffbffff;
    --color-ref-neutral100: #ffffffff;
    --color-ref-neutral-variant0: #000000ff;
    --color-ref-neutral-variant10: #1d1a22ff;
    --color-ref-neutral-variant15: #28242cff;
    --color-ref-neutral-variant20: #322f37ff;
    --color-ref-neutral-variant30: #49454eff;
    --color-ref-neutral-variant40: #615c66ff;
    --color-ref-neutral-variant50: #7a757fff;
    --color-ref-neutral-variant60: #948f99ff;
    --color-ref-neutral-variant70: #afa9b4ff;
    --color-ref-neutral-variant80: #cbc4cfff;
    --color-ref-neutral-variant90: #e7e0ebff;
    --color-ref-neutral-variant95: #f6eefaff;
    --color-ref-neutral-variant99: #fffbffff;
    --color-ref-neutral-variant100: #ffffffff;
}
