bazel-*
target/
.vscode/
.cache
.terraform*
.config
terraform.tfstate*
.update_scheduler_ips.zip
__pycache__
.devenv/
.direnv/
.DS_Store
.pre-commit-config.yaml
result
user.bazelrc
MODULE.bazel.lock
trivy-results.sarif
Pulumi.dev.yaml
lre.bazelrc
rust-project.json
.flake.nix
