bazel-*
target/
.vscode/
.idea/
.zed
.cache
.terraform*
.config
terraform.tfstate*
.update_scheduler_ips.zip
__pycache__
.devenv/
.direnv/
.DS_Store
.pre-commit-config.yaml
result
MODULE.bazel.lock
trivy-results.sarif
Pulumi.dev.yaml
lre.bazelrc
nixos.bazelrc
rust-project.json
darwin.bazelrc
nativelink.bazelrc
integration_tests/buildstream/*.log
integration_tests/buck2/*.log
buck-out/
