[workspace]
resolver = "2"

[package]
name = "nativelink"
version = "0.5.3"
edition = "2021"
rust-version = "1.82.0"

[profile.release]
lto = true
opt-level = 3

[profile.dev]
lto = false
opt-level = 0
strip = false
debug = true

# Prefer this profile in CI, for instance via `cargo test --all --profile=smol`.
# It reduces the size of the `target` directory from ~12GB to ~1GB.
[profile.smol]
inherits = "dev"
opt-level = "z"
strip = true
debug = false

[[bin]]
name = "nativelink"

[features]
enable_tokio_console = [
  "nativelink-util/enable_tokio_console"
]
nix = [
  "nativelink-worker/nix"
]

[dependencies]
nativelink-error = { path = "nativelink-error" }
nativelink-config = { path = "nativelink-config" }
nativelink-scheduler = { path = "nativelink-scheduler" }
nativelink-service = { path = "nativelink-service" }
nativelink-store = { path = "nativelink-store" }
nativelink-util = { path = "nativelink-util" }
nativelink-worker = { path = "nativelink-worker" }
nativelink-metric = { path = "nativelink-metric" }
nativelink-metric-collector = { path = "nativelink-metric-collector" }
async-lock = { version = "3.4.0", features = ["std"], default-features = false }
axum = { version = "0.7.9", default-features = false }
clap = { version = "4.5.23", features = ["derive"] }
futures = { version = "0.3.31", default-features = false }
hyper = "1.5.1"
hyper-util = "0.1.10"
mimalloc = "0.1.43"
parking_lot = "0.12.3"
rustls-pemfile = { version = "2.2.0", default-features = false }
scopeguard = { version = "1.2.0", default-features = false }
serde_json5 = "0.1.0"
tokio = { version = "1.42.0", features = ["fs", "rt-multi-thread", "signal", "io-util"], default-features = false }
tokio-rustls = { version = "0.26.1", default-features = false, features = [
  "ring",
] }
tonic = { version = "0.12.3", features = ["transport", "tls"], default-features = false }
tower = { version = "0.5.2", default-features = false }
tracing = { version = "0.1.41", default-features = false }
opentelemetry_sdk = { version = "0.27.1", default-features = false }
tracing-subscriber = { version = "0.3.19", default-features = false }
opentelemetry = { version = "0.27.1", default-features = false }
prometheus = { version = "0.13.4", default-features = false }
opentelemetry-prometheus = "0.27.0"
serde_json = "1.0.133"

[workspace.cargo-features-manager.keep]
async-lock = ["std"]
aws-sdk-s3 = ["rt-tokio"]
aws-smithy-runtime = ["test-util"]
# This causes blake3 to detect SIMD capabilities at runtime.
blake3 = ["std"]
pretty_assertions = ["std"]
redis-test = ["aio"]
serial_test = ["async"]
tokio = ["fs", "rt-multi-thread", "signal", "io-util"]
tokio-stream = ["fs"]
tonic-build = ["prost"]
tonic = ["transport", "tls"]
uuid = ["v4", "serde"]
