[package]
name = "nativelink-scheduler"
version = "0.2.0"
edition = "2021"

[dependencies]
nativelink-error = { path = "../nativelink-error" }
nativelink-config = { path = "../nativelink-config" }
nativelink-util = { path = "../nativelink-util" }
nativelink-proto = { path = "../nativelink-proto" }

# TODO(aaronmondal): This should not be a dependency. Move the corresponding
#                    files somewhere else.
nativelink-store = { path = "../nativelink-store" }

async-lock = "3.3.0"
async-trait = "0.1.77"
blake3 = "1.5.0"
prost = "0.12.3"
uuid = { version = "1.6.1", features = ["v4"] }
futures = "0.3.29"
hashbrown = "0.14"
lru = "0.12.1"
parking_lot = "0.12.1"
rand = "0.8.5"
scopeguard = "1.2.0"
tokio = { version = "1.35.1", features = ["sync", "rt", "parking_lot"] }
tokio-stream = { version = "0.1.14", features = ["sync"] }
tonic = { version = "0.11.0", features = ["gzip", "tls"] }
tracing = "0.1.40"

[dev-dependencies]
pretty_assertions = "1.4.0"
