@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@nativelink/config/tailwind/preset.css";

@source "../node_modules/fumadocs-ui/dist/**/*.js";
@source "../../../packages/ui/src/**/*.{ts,tsx}";

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
  }
  body {
    font-family: var(--nl-font-mono);
  }
}
