lints.workspace = true

[package]
edition = "2024"
name = "nativelink-service"
version = "0.6.0"

[dependencies]
axum = { version = "0.8.3", default-features = false }
bytes = { version = "1.10.1", default-features = false }
futures = { version = "0.3.31", default-features = false }
http-body = "1.0.1"
http-body-util = "0.1.3"
hyper = { version = "1.6.0" }
nativelink-config = { path = "../nativelink-config" }
nativelink-error = { path = "../nativelink-error" }
nativelink-proto = { path = "../nativelink-proto" }
nativelink-scheduler = { path = "../nativelink-scheduler" }
nativelink-store = { path = "../nativelink-store" }
nativelink-util = { path = "../nativelink-util" }
parking_lot = "0.12.3"
prost = { version = "0.13.5", default-features = false }
rand = { version = "0.9.0", default-features = false, features = [
  "thread_rng",
] }
serde_json5 = "0.2.1"
tokio = { version = "1.44.1", features = [
  "fs",
  "io-util",
  "rt-multi-thread",
  "signal",
], default-features = false }
tokio-stream = { version = "0.1.17", features = [
  "fs",
], default-features = false }
tonic = { version = "0.13.0", features = [
  "router",
  "tls-ring",
  "transport",
], default-features = false }
tower = { version = "0.5.2", default-features = false }
tracing = { version = "0.1.41", default-features = false }
uuid = { version = "1.16.0", default-features = false, features = [
  "serde",
  "v4",
] }

[dev-dependencies]
nativelink-macro = { path = "../nativelink-macro" }
nativelink-metric = { path = "../nativelink-metric" }

async-lock = { version = "3.4.0", features = ["std"], default-features = false }
async-trait = "0.1.88"
hyper = "1.6.0"
hyper-util = "0.1.11"
maplit = "1.0.2"
pretty_assertions = { version = "1.4.1", features = ["std"] }
prost-types = { version = "0.13.5", default-features = false }
