#:schema ../tools/cargo-with-detailed-deps.json
lints.workspace = true

[package]
edition = "2024"
name = "nativelink-service"
version = "0.7.9"

[dependencies]
nativelink-config = { path = "../nativelink-config" }
nativelink-error = { path = "../nativelink-error" }
nativelink-metric = { path = "../nativelink-metric" }
nativelink-proto = { path = "../nativelink-proto" }
nativelink-scheduler = { path = "../nativelink-scheduler" }
nativelink-store = { path = "../nativelink-store" }
nativelink-util = { path = "../nativelink-util" }

axum = { version = "0.8.3", default-features = false }
bytes = { version = "1.10.1", default-features = false }
futures = { version = "0.3.31", default-features = false }
http-body-util = { version = "0.1.3", default-features = false }
hyper = { version = "1.6.0", default-features = false }
opentelemetry = { version = "0.29.1", default-features = false }
opentelemetry-semantic-conventions = { version = "0.29.0", default-features = false, features = [
  "default",
  "semconv_experimental",
] }
parking_lot = { version = "0.12.3", default-features = false }
prost = { version = "0.13.5", default-features = false }
prost-types = { version = "0.13.5", default-features = false, features = [
  "std",
] }
rand = { version = "0.9.0", default-features = false, features = [
  "thread_rng",
] }
serde_json5 = { version = "0.2.1", default-features = false }
tokio = { version = "1.44.1", features = [
  "fs",
  "io-util",
  "rt-multi-thread",
  "signal",
], default-features = false }
tokio-stream = { version = "0.1.17", features = [
  "fs",
], default-features = false }
tonic = { version = "0.13.0", features = [
  "gzip",
  "router",
  "tls-ring",
  "transport",
], default-features = false }
tower = { version = "0.5.2", default-features = false }
tracing = { version = "0.1.41", default-features = false }
uuid = { version = "1.16.0", default-features = false, features = [
  "serde",
  "v4",
] }

[dev-dependencies]
nativelink-macro = { path = "../nativelink-macro" }

async-lock = { version = "3.4.0", features = ["std"], default-features = false }
async-trait = { version = "0.1.88", default-features = false }
hex = { version = "0.4.3", default-features = false }
hyper = { version = "1.6.0", default-features = false }
hyper-util = { version = "0.1.11", default-features = false }
pretty_assertions = { version = "1.4.1", features = [
  "std",
], default-features = false }
prost-types = { version = "0.13.5", default-features = false }
serde_json = { version = "1.0.140", default-features = false, features = [
  "std",
] }
sha2 = { version = "0.10.8", default-features = false }
tracing-test = { version = "0.2.5", default-features = false, features = [
  "no-env-filter",
] }

[package.metadata.cargo-machete]
# Used by nativelink_test macro
ignored = ["tracing-test"]
