[package]
name = "nativelink-service"
version = "0.5.3"
edition = "2021"

[dependencies]
nativelink-proto = { path = "../nativelink-proto" }
nativelink-error = { path = "../nativelink-error" }
nativelink-config = { path = "../nativelink-config" }
nativelink-util = { path = "../nativelink-util" }
nativelink-store = { path = "../nativelink-store" }
nativelink-scheduler = { path = "../nativelink-scheduler" }
axum = { version = "0.7.7", default-features = false }
bytes = { version = "1.7.2", default-features = false }
futures = { version = "0.3.30", default-features = false }
http-body = "1.0.1"
http-body-util = "0.1.2"
hyper = { version = "1.4.1" }
serde_json5 = "0.1.0"
parking_lot = "0.12.3"
prost = { version = "0.13.3", default-features = false }
tokio = { version = "1.40.0", features = ["fs", "rt-multi-thread", "signal", "io-util"], default-features = false }
tokio-stream = { version = "0.1.16", features = ["fs"], default-features = false }
tonic = { version = "0.12.3", features = ["transport", "tls"], default-features = false }
tower = { version = "0.5.1", default-features = false }
tracing = { version = "0.1.40", default-features = false }
uuid = { version = "1.10.0", default-features = false, features = ["v4", "serde"] }
base64 = "0.21"

[dev-dependencies]
nativelink-macro = { path = "../nativelink-macro" }
nativelink-metric = { path = "../nativelink-metric" }

async-trait = "0.1.83"
async-lock = { version = "3.4.0", features = ["std"], default-features = false }
hyper = "1.4.1"
hyper-util = "0.1.9"
maplit = "1.0.2"
pretty_assertions = { version = "1.4.1", features = ["std"] }
prost-types = { version = "0.13.3", default-features = false }
