lints.workspace = true

[package]
edition = "2024"
name = "nativelink-store"
version = "0.6.0"

[dependencies]
nativelink-config = { path = "../nativelink-config" }
nativelink-error = { path = "../nativelink-error" }
nativelink-metric = { path = "../nativelink-metric" }
nativelink-proto = { path = "../nativelink-proto" }
nativelink-util = { path = "../nativelink-util" }

async-lock = { version = "3.4.0", features = ["std"], default-features = false }
async-trait = "0.1.88"
aws-config = { version = "1.6.1", default-features = false, features = ["sso"] }
aws-sdk-s3 = { version = "1.82.0", features = [
  "http-1x",
  "rt-tokio",
], default-features = false }
aws-smithy-runtime-api = { version = "1.7.4", default-features = false, features = [
  "client",
  "http-1x",
] }
aws-smithy-types = { version = "1.3.0", default-features = false, features = [
  "http-body-1-x",
] }
base64 = { version = "0.22.1", default-features = false, features = ["std"] }
bincode = { version = "2.0.1", default-features = false, features = [
  "alloc",
  "serde",
] }
blake3 = { version = "1.8.0", default-features = false }
byteorder = { version = "1.5.0", default-features = false }
bytes = { version = "1.10.1", default-features = false }
bytes-utils = { version = "0.1.4", default-features = false }
const_format = { version = "0.2.34", default-features = false }
fred = { version = "10.1.0", default-features = false, features = [
  "blocking-encoding",
  "custom-reconnect-errors",
  "enable-rustls-ring",
  "i-redisearch",
  "i-scripts",
  "i-std",
  "metrics",
  "sentinel-auth",
  "sentinel-client",
  "sha-1",
  "subscriber-client",
] }
futures = { version = "0.3.31", default-features = false }
google-cloud-auth = { version = "0.17.2", default-features = false }
google-cloud-storage = { version = "0.24.0", default-features = false, features = [
  "auth",
  "rustls-tls",
] }
hex = { version = "0.4.3", default-features = false }
http = { version = "1.3.1", default-features = false }
http-body = "1.0.1"
http-body-util = "0.1.3"
hyper = { version = "1.6.0" }
hyper-rustls = { version = "0.27.5", default-features = false, features = [
  "http1",
  "http2",
  "ring",
  "rustls-native-certs",
  "rustls-platform-verifier",
] }
hyper-util = { version = "0.1.11", default-features = false }
lz4_flex = { version = "0.11.3", default-features = false }
opentelemetry = { version = "0.29.1", default-features = false }
parking_lot = "0.12.3"
patricia_tree = { version = "0.9.0", default-features = false }
prost = { version = "0.13.5", default-features = false }
rand = { version = "0.9.0", default-features = false, features = [
  "thread_rng",
] }
rustls = { version = "0.23.27", default-features = false, features = [] }
rustls-pemfile = { version = "2.1.2", default-features = false }
serde = { version = "1.0.219", default-features = false }
serde_json = "1.0.140"
sha2 = { version = "0.10.8", default-features = false }
tokio = { version = "1.44.1", features = [
  "fs",
  "io-util",
  "rt-multi-thread",
  "signal",
], default-features = false }
tokio-stream = { version = "0.1.17", features = [
  "fs",
], default-features = false }
tokio-util = { version = "0.7.14" }
tonic = { version = "0.13.0", features = [
  "tls-ring",
  "transport",
], default-features = false }
tower-service = { version = "0.3.3", default-features = false }
tracing = { version = "0.1.41", default-features = false }
uuid = { version = "1.16.0", default-features = false, features = [
  "serde",
  "v4",
] }

[dev-dependencies]
nativelink-macro = { path = "../nativelink-macro" }

aws-sdk-s3 = { version = "1.82.0", features = [
  "http-1x",
  "rt-tokio",
], default-features = false }
aws-smithy-runtime = { version = "1.8.1", default-features = false, features = [
  "client",
  "test-util",
] }
aws-smithy-runtime-api = { version = "1.7.4", default-features = false }
aws-smithy-types = { version = "1.3.0", default-features = false, features = [
  "http-body-1-x",
] }
fred = { version = "10.1.0", default-features = false, features = ["mocks"] }
http = { version = "1.3.1", default-features = false }
memory-stats = "1.2.0"
mock_instant = "0.5.3"
pretty_assertions = { version = "1.4.1", features = ["std"] }
rand = { version = "0.9.0", default-features = false, features = [
  "small_rng",
  "thread_rng",
] }
serde_json = "1.0.140"
tempfile = { version = "3.8.1", default-features = false }
tracing-subscriber = { version = "0.3.19", default-features = false }
