[package]
name = "nativelink-store"
version = "0.6.0"
edition = "2021"

[dependencies]
nativelink-error = { path = "../nativelink-error" }
nativelink-config = { path = "../nativelink-config" }
nativelink-util = { path = "../nativelink-util" }
nativelink-proto = { path = "../nativelink-proto" }
nativelink-metric = { path = "../nativelink-metric" }
async-lock = { version = "3.4.0", features = ["std"], default-features = false }
async-trait = "0.1.86"
aws-config = { version = "1.5.18", default-features = false, features = [
  "rustls",
] }
# TODO(aaronmondal): The latest version pulls in crc64fast-nvme which contains
#                    nonhermetic bindgen deps that break Bazel sandboxes.
# See: https://github.com/awesomized/crc64fast-nvme/issues/5
#      https://github.com/awslabs/aws-sdk-rust/issues/1240#issuecomment-2597294295
aws-sdk-s3 = { version = "=1.78.0", features = [
  "rt-tokio",
], default-features = false }
aws-smithy-runtime = { version = "=1.7.8" }
aws-smithy-types = "=1.2.13"
bincode = "1.3.3"
blake3 = { version = "1.6.0", default-features = false }
byteorder = { version = "1.5.0", default-features = false }
bytes = { version = "1.10.0", default-features = false }
bytes-utils = { version = "0.1.4", default-features = false }
const_format = { version = "0.2.34", default-features = false }
fred = { version = "10.0.4", default-features = false, features = [
  "i-std",
  "i-scripts",
  "i-redisearch",
  "sha-1",
  "enable-rustls-ring",
  "metrics",
  "blocking-encoding",
  "custom-reconnect-errors",
  "sentinel-client",
  "sentinel-auth",
  "subscriber-client",
] }
patricia_tree = { version = "0.9.0", default-features = false }
futures = { version = "0.3.31", default-features = false }
hex = { version = "0.4.3", default-features = false }
http-body = "1.0.1"
hyper = { version = "0.14.32" }
hyper-rustls = { version = "0.24.2", default-features = false, features = [
  "webpki-roots",
] }
lz4_flex = { version = "0.11.3", default-features = false }
parking_lot = "0.12.3"
prost = { version = "0.13.5", default-features = false }
rand = { version = "0.9.0", default-features = false, features = ["thread_rng"] }
rustls = { version = "0.21.12", default-features = false, features = ["dangerous_configuration",] }
rustls-pemfile = { version = "2.1.2", default-features = false }
serde = { version = "1.0.218", default-features = false }
serde_json = { version = "1.0.135", default-features = false }
tokio = { version = "1.43.0", features = ["fs", "rt-multi-thread", "signal", "io-util"], default-features = false }
tokio-stream = { version = "0.1.17", features = ["fs"], default-features = false }
tokio-util = { version = "0.7.13" }
tonic = { version = "0.12.3", features = ["transport", "tls"], default-features = false }
tracing = { version = "0.1.41", default-features = false }
uuid = { version = "1.14.0", default-features = false, features = ["v4", "serde"] }

[dev-dependencies]
nativelink-macro = { path = "../nativelink-macro" }
nativelink-metric-collector = { path = "../nativelink-metric-collector" }
pretty_assertions = { version = "1.4.1", features = ["std"] }
memory-stats = "1.2.0"
mock_instant = "0.5.2"
sha2 = { version = "0.10.8", default-features = false }
http = { version = "1.2.0", default-features = false }
aws-smithy-types = "=1.2.13"
aws-smithy-runtime = { version = "=1.7.8", features = [
  "test-util",
], default-features = false }
aws-sdk-s3 = { version = "=1.78.0", features = [
  "rt-tokio",
], default-features = false }
aws-smithy-runtime-api = "=1.7.3"
rand = { version = "0.9.0", default-features = false, features = ["thread_rng", "small_rng"] }
serde_json = "1.0.139"
tempfile = "3.8.1"
fred = { version = "10.0.4", default-features = false, features = ["mocks"] }
tracing-subscriber = { version = "0.3.19", default-features = false }
