#:schema ../tools/cargo-with-detailed-deps.json
lints.workspace = true

[package]
edition = "2024"
name = "nativelink-store"
version = "0.7.9"

[dependencies]
nativelink-config = { path = "../nativelink-config" }
nativelink-error = { path = "../nativelink-error" }
nativelink-metric = { path = "../nativelink-metric" }
nativelink-proto = { path = "../nativelink-proto" }
nativelink-util = { path = "../nativelink-util" }

async-lock = { version = "3.4.0", features = ["std"], default-features = false }
async-trait = { version = "0.1.88", default-features = false }
aws-config = { version = "1.6.1", default-features = false, features = ["sso"] }
aws-sdk-s3 = { version = "1.82.0", features = [
  "http-1x",
  "rt-tokio",
], default-features = false }
aws-smithy-runtime-api = { version = "1.7.4", default-features = false, features = [
  "client",
  "http-1x",
] }
aws-smithy-types = { version = "1.3.0", default-features = false, features = [
  "http-body-1-x",
] }
base64 = { version = "0.22.1", default-features = false, features = ["std"] }
bincode = { version = "2.0.1", default-features = false, features = [
  "alloc",
  "serde",
] }
blake3 = { version = "1.8.0", default-features = false }
byteorder = { version = "1.5.0", default-features = false }
bytes = { version = "1.10.1", default-features = false }
const_format = { version = "0.2.34", default-features = false }
futures = { version = "0.3.31", default-features = false, features = ["std"] }
gcloud-auth = { version = "1.1.2", default-features = false }
gcloud-storage = { version = "1.1.1", default-features = false, features = [
  "auth",
  "rustls-tls",
] }
hex = { version = "0.4.3", default-features = false }
http = { version = "1.3.1", default-features = false }
http-body = { version = "1.0.1", default-features = false }
http-body-util = { version = "0.1.3", default-features = false }
hyper = { version = "1.6.0", default-features = false }
hyper-rustls = { version = "0.27.5", default-features = false, features = [
  "http1",
  "http2",
  "ring",
  "rustls-native-certs",
  "rustls-platform-verifier",
] }
hyper-util = { version = "0.1.11", default-features = false }
itertools = { version = "0.14.0", default-features = false }
lz4_flex = { version = "0.11.3", default-features = false }
mongodb = { version = "3", features = [
  "compat-3-0-0",
  "rustls-tls",
], default-features = false }
opentelemetry = { version = "0.29.1", default-features = false }
parking_lot = { version = "0.12.3", features = [
  "arc_lock",
  "send_guard",
], default-features = false }
patricia_tree = { version = "0.9.0", default-features = false }
prost = { version = "0.13.5", default-features = false }
rand = { version = "0.9.0", default-features = false, features = [
  "thread_rng",
] }
redis = { version = "1.0.0", default-features = false, features = [
  "ahash",
  "cluster-async",
  "connection-manager",
  "script",
  "sentinel",
  "tokio-comp",
] }
# needed here for Psubscribe implementation
redis-test = { version = "1.0.0", default-features = false, features = ["aio"] }
regex = { version = "1.11.1", default-features = false }
reqwest = { version = "0.12", default-features = false }
reqwest-middleware = { version = "0.4.2", default-features = false }
rustls = { version = "0.23.27", default-features = false, features = [] }
rustls-pki-types = { version = "1.13.1", default-features = false }
serde = { version = "1.0.219", default-features = false }
serde_json = { version = "1.0.140", default-features = false }
sha2 = { version = "0.10.8", default-features = false }
tokio = { version = "1.44.1", features = [
  "fs",
  "io-util",
  "rt-multi-thread",
  "signal",
], default-features = false }
tokio-stream = { version = "0.1.17", features = [
  "fs",
], default-features = false }
tokio-util = { version = "0.7.14", default-features = false }
tonic = { version = "0.13.0", features = [
  "tls-ring",
  "transport",
], default-features = false }
tracing = { version = "0.1.41", default-features = false }
uuid = { version = "1.16.0", default-features = false, features = [
  "serde",
  "v4",
] }

[dev-dependencies]
nativelink-macro = { path = "../nativelink-macro" }

aws-sdk-s3 = { version = "1.82.0", features = [
  "http-1x",
  "rt-tokio",
], default-features = false }
aws-smithy-runtime = { version = "1.8.1", default-features = false, features = [
  "client",
  "test-util",
] }
aws-smithy-runtime-api = { version = "1.7.4", default-features = false }
aws-smithy-types = { version = "1.3.0", default-features = false, features = [
  "http-body-1-x",
] }
futures = { version = "0.3.31", default-features = false, features = [
  "executor",
] }
http = { version = "1.3.1", default-features = false }
memory-stats = { version = "1.2.0", default-features = false }
mock_instant = { version = "0.5.3", default-features = false }
pretty_assertions = { version = "1.4.1", features = [
  "std",
], default-features = false }
rand = { version = "0.9.0", default-features = false, features = [
  "small_rng",
  "thread_rng",
] }
serde_json = { version = "1.0.140", default-features = false }
tempfile = { version = "3.8.1", default-features = false }
tracing-test = { version = "0.2.5", default-features = false, features = [
  "no-env-filter",
] }

[package.metadata.cargo-machete]
# Used by nativelink_test macro
ignored = ["tracing-test"]
