# Don't use the host's default PATH and LD_LIBRARY_PATH.
build --incompatible_strict_action_env

# Use rules_python's builtin script to emulate a bootstrap python.
build --@rules_python//python/config_settings:bootstrap_impl=script

# Toolchain to verify remote execution with zig-cc.
build:zig-cc --platforms @zig_sdk//platform:linux_amd64
build:zig-cc --extra_toolchains @zig_sdk//toolchain:linux_amd64_gnu.2.38

# Toolchain to verify remote execution with contrib/toolchains_llvm.
build:llvm --platforms=@toolchains_llvm//platforms:linux-x86_64
build:llvm --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux

# Java runtime to ensure hermeticity on the remote.
build:java --java_runtime_version=remotejdk_21
build:java --tool_java_runtime_version=remotejdk_21
