# Don't use the host's default PATH and LD_LIBRARY_PATH.
build --incompatible_strict_action_env

# Use rules_python's builtin script to emulate a bootstrap python.
build --@rules_python//python/config_settings:bootstrap_impl=script

# Toolchain to verify remote execution with zig-cc.
build:zig-cc --platforms @zig_sdk//platform:linux_amd64
build:zig-cc --platforms @zig_sdk//platform:linux_amd64

# These toolchains map out everything in
# https://github.com/uber/hermetic_cc_toolchain/blob/bfc407599e503a44928a3cefad27421c9341eff0/MODULE.bazel#L44
#
# TODO(palfrey): Change this after the next release that contains
#                    https://github.com/uber/hermetic_cc_toolchain/commit/892973baa37ee1cb7adc8e5b0f75e1966093b1d3
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:windows_amd64
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:windows_arm64
# build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:darwin_amd64
# build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:darwin_arm64
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//libc_aware/toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//libc_aware/toolchain:linux_amd64_gnu.2.31
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//libc_aware/toolchain:linux_amd64_musl
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//libc_aware/toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//libc_aware/toolchain:linux_arm64_musl
build:zig-cc --extra_toolchains @zig_sdk-linux-amd64//toolchain:wasip1_wasm
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:windows_amd64
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:windows_arm64
# build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:darwin_amd64
# build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:darwin_arm64
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//libc_aware/toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//libc_aware/toolchain:linux_amd64_gnu.2.31
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//libc_aware/toolchain:linux_amd64_musl
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//libc_aware/toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//libc_aware/toolchain:linux_arm64_musl
build:zig-cc --extra_toolchains @zig_sdk-linux-arm64//toolchain:wasip1_wasm
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:windows_amd64
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:windows_arm64
# build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:darwin_amd64
# build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:darwin_arm64
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//libc_aware/toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//libc_aware/toolchain:linux_amd64_gnu.2.31
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//libc_aware/toolchain:linux_amd64_musl
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//libc_aware/toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//libc_aware/toolchain:linux_arm64_musl
build:zig-cc --extra_toolchains @zig_sdk-windows-amd64//toolchain:wasip1_wasm
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:windows_amd64
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:windows_arm64
# build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:darwin_amd64
# build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:darwin_arm64
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//libc_aware/toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//libc_aware/toolchain:linux_amd64_gnu.2.31
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//libc_aware/toolchain:linux_amd64_musl
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//libc_aware/toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//libc_aware/toolchain:linux_arm64_musl
build:zig-cc --extra_toolchains @zig_sdk-macos-arm64//toolchain:wasip1_wasm
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:windows_amd64
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:windows_arm64
# build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:darwin_amd64
# build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:darwin_arm64
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//libc_aware/toolchain:linux_amd64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//libc_aware/toolchain:linux_amd64_gnu.2.31
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//libc_aware/toolchain:linux_amd64_musl
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//libc_aware/toolchain:linux_arm64_gnu.2.28
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//libc_aware/toolchain:linux_arm64_musl
build:zig-cc --extra_toolchains @zig_sdk-macos-amd64//toolchain:wasip1_wasm

# Toolchain to verify remote execution with contrib/toolchains_llvm.
build:llvm --platforms=@toolchains_llvm//platforms:linux-x86_64
build:llvm --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux

# Java runtime to ensure hermeticity on the remote.
build:java --java_runtime_version=remotejdk_21
build:java --tool_java_runtime_version=remotejdk_21

# Persistent workers configuration
build:persistent-workers --strategy=Javac=worker
build:persistent-workers --worker_sandboxing=false
build:persistent-workers --experimental_worker_multiplex
build:persistent-workers --experimental_worker_multiplex_sandboxing=false
build:persistent-workers --worker_max_instances=Javac=4
build:persistent-workers --worker_quit_after_build=false
