[Unit]
Description=NativeLink remote execution system
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/start_nativelink.sh

[Install]
WantedBy=multi-user.target
