<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tracemachina.nativelink.rotate-log</string>
	<key>ProgramArguments</key>
	<array>
		<string>PLACEHOLDER_HOME/Applications/NativeLink.app/Contents/Resources/rotate-log.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
