/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
   padding: 10px 10px;
   display: inline-block;
   cursor: pointer;
   transition-property: opacity, filter;
   transition-duration: 0.15s;
   transition-timing-function: linear;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin-top: 0;
   overflow: visible;
}
.hamburger:hover {
   opacity: 0.7;
}
.hamburger.is-active:hover {
   opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
   background-color: #1a1a1a;
}

.hamburger-box {
   width: 24px;
   height: 18px;
   display: inline-block;
   position: relative;
}

.hamburger-inner {
   display: block;
   top: 50%;
   margin-top: -1.5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
   width: 24px;
   height: 2px;
   background-color: #1a1a1a;
   border-radius: 2px;
   position: absolute;
   transition-property: transform;
   transition-duration: 0.15s;
   transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
   content: "";
   display: block;
}
.hamburger-inner::before {
   top: -8px;
}
.hamburger-inner::after {
   bottom: -8px;
}

/* Slider */
.hamburger--slider .hamburger-inner {
   top: 1px;
}
.hamburger--slider .hamburger-inner::before {
   top: 8px;
   transition-property: transform, opacity;
   transition-timing-function: ease;
   transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
   top: 16px;
}

.hamburger--slider.is-active .hamburger-inner {
   transform: translate3d(0, 8px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
   transform: rotate(-45deg) translate3d(-4px, -5px, 0);
   opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
   transform: translate3d(0, -16px, 0) rotate(-90deg);
}
