---
import "@styles/global.css";
import "@styles/tailwind.css";

import ViewTransitions from "astro/components/ViewTransitions.astro";
import { ScrollTracker } from "@qwik/components/scroll"
import { Header } from "@qwik/components/header"
import { Footer } from "@qwik/components/footer"

const { title } = Astro.props;

const scrolled = false;
---
<!doctype html>
<html lang="en">
	<head>
		<script type="text/partytown">
			!function(){var i="analytics",analytics=window[i]=window[i]||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","screen","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware","register"];analytics.factory=function(e){return function(){if(window[i].initialized)return window[i][e].apply(window[i],arguments);var n=Array.prototype.slice.call(arguments);if(["track","screen","alias","group","page","identify"].indexOf(e)>-1){var c=document.querySelector("link[rel='canonical']");n.push({__t:"bpc",c:c&&c.getAttribute("href")||void 0,p:location.pathname,u:location.href,s:location.search,t:document.title,r:document.referrer})}n.unshift(e);analytics.push(n);return analytics}};for(var n=0;n<analytics.methods.length;n++){var key=analytics.methods[n];analytics[key]=analytics.factory(key)}analytics.load=function(key,n){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.setAttribute("data-global-segment-analytics-key",i);t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r);analytics._loadOptions=n};analytics._writeKey="Z0W8wHPgKrHwLoDXzf4n1UOGhHh4Eou7";;analytics.SNIPPET_VERSION="5.2.0";
			analytics.load("Z0W8wHPgKrHwLoDXzf4n1UOGhHh4Eou7");
			analytics.page();
			}}();
		</script>
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-W759CFTKTG"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-W759CFTKTG');
		</script>
		<meta charset="UTF-8" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" sizes="192x192" type="image/png" href="https://static.wixstatic.com/media/b37b63_04b2ef1a25334a4fa0b83f6609065563%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/b37b63_04b2ef1a25334a4fa0b83f6609065563%7Emv2.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
		<meta name="description" content="NativeLink" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    	<ViewTransitions />
	</head>
	<body class="bg-black w-screen">
		<ScrollTracker scrolled={scrolled} />
		<Header pathName={Astro.url.pathname}/>
		<slot />
    	<Footer />
	</body>
</html>
