html[data-theme="light"] .beoe-dark {
  display: none;
}

html[data-theme="dark"] .beoe-light {
  display: none;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
  color: var(--sl-color-white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html {
  scroll-behavior: smooth;
}
