[package]
name = "nativelink-proto"
version = "0.4.0"
edition = "2021"
autobins = false
autoexamples = false
autotests = false
autobenches = false

[lib]
name = "nativelink_proto"
path = "genproto/lib.rs"
# TODO(allada) We should support doctests.
doctest = false

[dependencies]
prost = "0.12.4"
prost-types = "0.12.4"
serde = { version = "1.0.203", features = ["derive"] }
tonic = { version = "0.11.0", features = ["gzip"] }

[dev-dependencies]
prost-build = "0.12.4"
tonic-build = "0.11.0"
