---
import Layout from "../layouts/Layout.astro";
import { ProductPage } from "@qwik/pages/product";
import { FAQ } from "@react/faq";
---

<Layout title="NativeLink - Product">
  <ProductPage />
  <div class="section-spacing-major pb-24">
    <div class="max-w-5xl mx-auto px-6">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-5xl font-bold text-black mb-4">
          Frequently Asked Questions
        </h2>
        <p class="text-lg text-[rgb(60,60,60)]">
          Find answers to the most common questions about NativeLink, from implementation details to support options.
        </p>
      </div>
      <FAQ client:visible />
      <div class="text-center mt-8 text-sm text-[rgb(100,100,100)]">
        For more detailed information, refer to the <a href="/docs/introduction/setup" class="text-black underline hover:opacity-70">NativeLink documentation</a>.
      </div>
    </div>
  </div>
</Layout>
