---
name: Nix

on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/styles/**'
      - 'web/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - '.github/styles/**'
      - 'web/**'

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  nix-bazel:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15]
    name: Bazel Dev / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: >- # v4.2.2
          actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Prepare Worker
        uses: ./.github/actions/prepare-nix

      - name: Invoke Bazel build in Nix shell
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            nix develop --impure --command \
            bash -c "bazel test ... --verbose_failures"
          elif [ "$RUNNER_OS" == "macOS" ]; then
            nix develop --impure --command \
            bash -c "bazel test //... --verbose_failures"
          else
            echo "Unsupported runner OS: $RUNNER_OS"
            exit 1
          fi
        shell: bash

  nix-cargo:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15]
    name: Cargo Dev / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: >- # v4.2.2
          actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Prepare Worker
        uses: ./.github/actions/prepare-nix

      - name: Invoke Cargo build in Nix shell
        run: >
          nix develop --impure --command
          bash -c "cargo test --all --profile=smol"

  installation:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - macos-14
          - macos-15
    name: Installation / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: >- # v4.2.2
          actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Prepare Worker
        uses: ./.github/actions/prepare-nix

      - name: Test nix run
        run: |
          nix run -L .#nativelink-is-executable-test

  integration:
    name: ${{ matrix.test-name }}
    strategy:
      matrix:
          test-name: [buildstream, mongo]
    runs-on: ubuntu-24.04
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: >- # v4.2.2
          actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Prepare Worker
        uses: ./.github/actions/prepare-nix

      - name: Test ${{ matrix.test-name }} run
        run: |
          nix run -L .#${{ matrix.test-name }}-with-nativelink-test
