# dependencies
node_modules/

# turbo
.turbo/

# next.js
.next/
out/

# astro
.astro/

# production
dist/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# fumadocs
.source/
.content-collections/
